.subject_title{
    width:200px;
    border: solid 2px #125899;
    font-weight: bolder;
}
.teacher{
    width: 200px;
    border: solid 2px #125899;
}
.term{
    /*border: solid 2px #125899;*/
    display: flex;
    flex-wrap: wrap;
    min-width: 160px;
}
.half{
    width: 10px;
    text-align: center;
    font-size: 30px;
    border: solid 2px #125899;
    color: #125899;
    font-weight: bolder;
}
.finalRate{
    width: 50px;
    text-align: center;
    background: #125899;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    border: solid 2px #125899;
}
.rates{
  padding:5px 7px;
    border: solid 2px #125899;
}

