
.year_container{
    margin-left: 300px;

}
.back{
    font-size: 50px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 140px;
    text-align: center;
    margin-top: 30px;
    color: #125899;
    font-weight: bold;
}
.year_create_title_container{
    display: flex;
}
.year_create_title{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    color: #125899;
    font-weight: bold;
    margin-bottom: 40px;

}
.year_create_form{
    margin: auto;
    width: 900px;
    margin-bottom: 300px;
}

.create_year{
    display: flex;
    margin-bottom: 30px;
}
.year_holder{
    display: flex;
}
.year_create_container{
    margin: auto;
    width: 900px;
    margin-bottom: 500px;
    height: 100vh;
}
.year_list_container{
    margin-right:10px;
    border-right: solid 2px #125899;
}
.grade_list_form{
    width:450px;
    margin-left:30px;
}
.year_title_border{
    border-bottom: solid 2px #125899;
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
}
.error{
    color: red;
    font-size: 25px;
    text-align: center;
}
