.subject_title{
    width:250px;
}
.teacher{
    width: 200px;
}
.finalRate{
    width: 100px;
    text-align: center;
    background: #125899;
    color: white;
    font-size: 30px;
    font-weight: bolder;
    border-bottom: solid 2px white;
    border-radius: 20px;
}
.term{
    width:200px;
}
.averageRate{
    width: 100px;
    text-align: center;
}
