.icon {
  color: white;
  margin-right: 20%;
}
.icon:hover {
  color: #34ce57;
}

.navbar_container {
  background: #125899;
  color: white;
}
.navbar_content {
  max-width: 900px;
  display: flex;
  margin: auto;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
  justify-content: center;
  font-size: 200%;
}
.exit_button_content {
  padding: 5px;
  background: #dc3545;
  cursor: pointer;
  font-weight: bold;
  color: white;
  border-radius: 20px;
}
.exit_button_content:hover {
  padding: 5px;
  background: #c82333;
  cursor: pointer;
  font-weight: bold;
  color: white;
  border-radius: 20px;
}
@media only screen and (max-width: 450px) {
  .icon {
    color: white;
    margin-right: 15%;
  }
}
