.subjects_container{
    margin-left: 300px;
    margin-top: 100px;
}
.subjects_title{
    text-align: center;
    font-weight: bolder;
    font-size: 35px;
    color: #125899;
    margin-bottom: 80px;
    flex-wrap: wrap;
}
.subjects_holder{
    display: flex;
    margin-top: 100px;
    margin: auto;
    width: 1250px;
    flex-wrap: wrap;
}
